[submodule "Rainier/vendor/spdlog"]
	path = Rainier/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rainier/vendor/GLFW"]
	path = Rainier/vendor/GLFW
	url = https://github.com/TheCherno/glfw
